{% extends 'base.html' %}

{% block title %}

<title> Social bookmarking</title>
{% endblock %}

{% block content %}
<article>
    <header>
        <h1> Welcome </h1>
        <p> Social Bookmarking site gives you flexibility in managing your social sites</p>
    </header>
    <section class="bookmarks">
        <h2> Recently Added </h2>
        {% if new_bookmarks %}
            <ul>
                {% for bm in new_bookmarks %}
                <li>{{bm.user}} added <a href="{{bm.url}}"> {{bm.url}} </a></li>
                 {% endfor %}
            </ul>
        {% else %}
            No url added yet.
        {% endif %}
    </section>
 </article>
{% endblock %}